/static
/0_static
/test
/test_images
/__pycache__
/results.html
/results_filtered.html
/.idea
/target_image.png
/target_image.jpg
/alt
/features
/features_pickle
/extract_features_old.py
/feature_distance.py